html, body {
    background-color: $bg-color;
    min-height: 100vh;
    min-width: 100%;
    font-family: $font-regular;
    overflow: hidden;
    color: #000;
    margin: 0;
}

.not-found {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
        font: {
            family: $font_medium;
            size: 24px;
        }
        color: #fff;
    }

    &__link {
        font-family: $font-regular;
        color: #1a2735;
    }

    .number {
        font-size: 80px;
        letter-spacing: 0;
        margin-bottom: 15px;
    }
}
